<h1>About</h1>
<p>My name is Orimba Henry Oginga. I am Node.js developer working my way up to become a pro</p>

<div class="nav">
    <a href="/homeMusicPlayer"> Music Player</a>
    <a href="/Bio"> Bio</a>
    <a href="/contacts">Contacts</a>

</div>


