<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bio</title>
</head>
<body id="page-top">
        <!-- Navigation-->
        <!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Henry Orimba</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpg" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
                </ul>
            </div>-->
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Henry
                        <span class="text-primary">Orimba</span>
                    </h1>
                    <div class="subheading mb-5">
                        P.O BOX 46630· University Way, Nairobi, Kenya· (+254) 713 589 808/(+254) 773678789 ·
                        <a href="ogingahenry@email.com">ogingahenry@gmail.com</a>
                    </div>
                    <p class="lead mb-5">I am an entry level Technical I.T support Specialist come Front-end/ back-end developer with solid skills in system software & system hardware acquisitions, assembly, in-stallation, configuration troubleshooting and log management of I.T resources in addition to basic network implementation of VPN’s, DNS, DHCP troubleshooting issues, using Cloud resources and front-end development.</p>
                    <div class="social-icons">
                        <a class="social-icon" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="#"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Cloud Worker and Web Dev. Mentee</h3>
                            <div class="subheading mb-3">CloudFactory</div>
                            <p>I am currently undertaking mentorship at the company learning web architechture, building and deploying web applications.

I have previously worked for a client who was trying to provide access to driving assistants to anyone with a smart phone. I worked as an image annotator to them to help their A.I get smarter so that they can reduce the amount of road traffic accidents.

I have also been involved in a pilot projects for the company in assessing the level of engagement of other Cloud workers from our neighboring team in Nepal.Team Player


I currently work on a Work stream tasked with data entry and validation client vouchers and receipts world over and other Cloudworker Seasonal Projects i am assigined to.

I am also an active participant of internal CloudTeam Sprout engagement programs used to upgrade skill sets and Community Projects that give back love to the community
see less</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">January 2019 - Present</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Campus Lab Intern</h3>
                            <div class="subheading mb-3">University of Eldoret</div>
                            <p>I was assisting students and fellow classmates in setting up and configuring their laptops and desktops to allow dual boot installation of both Linux, Fedora and Windows operating systems, resolved their minor and major O.S compatibility issues and helped them upgrade and updatedrivers if needed.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">December 2011 - March 2013</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Team Player</h3>
                            <div class="subheading mb-3">Word of Light Centre, Eldoret</div>
                            <p>I delegated in the Sunday School and led in the Praise & worship teams for four years from which I gained good or-ganizational skills, negotiation skills, and leadership. I also gained valuable skill as a grounded vocalist and in percus-sion as a drummer I concerts, conferences and mentorship programs in churches and Universities in Eldoret.
</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">July 2010 - December 2011</span></div>
                    </div>
                    <!--<div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Web Design Intern</h3>
                            <div class="subheading mb-3">Shout! Media Productions</div>
                            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">September 2008 - June 2010</span></div>
                    </div>-->
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">University of Eldoret </h3>
                            <div class="subheading mb-3">Bachelor of Science</div>
                            <div>Physics - Computational Material Science</div>
                            <p>2nd Class Honors, Upper division</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2014 - November 2018</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Dagoretti High School</h3>
                            <div class="subheading mb-3">Physical Sciences and Computer Studies</div>
                            <p>Grade: B </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">February 2010 - November 2013</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item">html5</i></li>
                        <li class="list-inline-item">css3</i></li>
                        <li class="list-inline-item">node-js</i></li>
                        <li class="list-inline-item">Android</i></li>
                        <li class="list-inline-item">Python</i></li>
                        <li class="list-inline-item">Material Design</i></li>
                        <li class="list-inline-item">XML</i></li>
                        <li class="list-inline-item">Git</i></li>
                        <li class="list-inline-item">npm</i></li>
                    </ul>
                    <div class="subheading mb-3">Workflow</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Material Design, Responsive Design
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Cross Browser Testing & Debugging
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Cross Functional Teams & Collaboration
                        </li>
                        
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p>Apart from being a web developer, I enjoy most of my time being outdoors enjoying music. I love warm moderate weather, never liking both extremes.I enjoy mountain biking, playing musical instruments, and board games.</p>
                    <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Awards & Certifications</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Google Analytics Certified Developer
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Data Science - DataCamp Certification
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place -  University of Eldoret  - Top tier Physics Student of class 2018.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place - University of Eldoret - R certified Practioner.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place -Dagoretti High School - Best Industrious Captain 2013
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    
</body>
</html>

<div class="nav">
    <a href="/homeMusicPlayer"> Music Player</a>
    <a href="/about"> About</a>
    <a href="/contacts">Contacts</a>
</div>

