<h1>Contacts</h1>
<p>contact me on the following</p>

<li>Email: ogingahenry@gmail.com</li>
<li>Cell-phone: +254713589808</li>
<li>Github: https://github.com/Pasiminator/Pasiminator.github.io</li>
<li>Linked-in: https://www.linkedin.com/in/henry-orimba-b51702119/</li>

<div class="nav">
    <a href="/homeMusicPlayer"> Music Player</a>
    <a href="/Bio"> Bio</a>
    <a href="/about">About</a>
</div>
